# Scratch Paper:

In [1]:
import pandas as pd
dfi = pd.read_csv('aac_intakes_outcomes.csv.zip')
display(dfi.head())
dfi.info()

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79672 entries, 0 to 79671
Data columns (total 41 columns):
age_upon_outcome              79672 non-null object
animal_id_outcome             79672 non-null object
date_of_birth                 79672 non-null object
outcome_subtype               36348 non-null object
outcome_type                  79662 non-null object
sex_upon_outcome              79671 non-null object
age_upon_outcome_(days)       79672 non-null int64
age_upon_outcome_(years)      79672 non-null float64
age_upon_outcome_age_group    79672 non-null object
outcome_datetime              79672 non-null object
outcome_month                 79672 non-null int64
outcome_year                  79672 non-null int64
outcome_monthyear             79672 non-null object
outcome_weekday               79672 non-null object
outcome_hour                  79672 non-null int64
outcome_number                79672 non-null float64
dob_year                      79672 non-null int64
dob_month                     79672 non-null int64
dob_monthyear                 79672 non-null object
age_upon_intake               79672 non-null object
animal_id_intake              79672 non-null object
animal_type                   79672 non-null object
breed                         79672 non-null object
color                         79672 non-null object
found_location                79672 non-null object
intake_condition              79672 non-null object
intake_type                   79672 non-null object
sex_upon_intake               79671 non-null object
count                         79672 non-null int64
age_upon_intake_(days)        79672 non-null int64
age_upon_intake_(years)       79672 non-null float64
age_upon_intake_age_group     79672 non-null object
intake_datetime               79672 non-null object
intake_month                  79672 non-null int64
intake_year                   79672 non-null int64
intake_monthyear              79672 non-null object
intake_weekday                79672 non-null object
intake_hour                   79672 non-null int64
intake_number                 79672 non-null float64
time_in_shelter               79672 non-null object
time_in_shelter_days          79672 non-null float64
dtypes: float64(5), int64(11), object(25)
memory usage: 24.9+ MB

In [3]:
dfii = pd.read_csv('aac_intakes.csv.zip')

In [4]:
dfx = dfii[['animal_id', 'name', 'breed']]
dfx.head()

  animal_id     name                                  breed
0   A706918    Belle               English Springer Spaniel
1   A724273  Runster                            Basenji Mix
2   A665644      NaN                 Domestic Shorthair Mix
3   A682524      Rio  Doberman Pinsch/Australian Cattle Dog
4   A743852     Odin                 Labrador Retriever Mix

In [31]:
df = dfi.set_index('animal_id_intake').join(dfx.set_index('animal_id'), 
                                            rsuffix = '_in', how = 'left')
#df[['name_in', 'animal_id_intake', 'animal_id_in']].tail()
#df[['name', 'breed', 'breed_in']].tail(20)

df['unique_id'] = df['animal_id_outcome'] + df['intake_number'].astype('str')
df.head()

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days,name,breed_in,unique_id
A006100,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194,Scamp,Spinone Italiano Mix,A0061001.0
A006100,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194,Scamp,Spinone Italiano Mix,A0061001.0
A006100,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194,Scamp,Spinone Italiano Mix,A0061001.0
A006100,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722,Scamp,Spinone Italiano Mix,A0061002.0
A006100,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722,Scamp,Spinone Italiano Mix,A0061002.0

In [42]:
df_testii = df.drop_duplicates(subset = ['unique_id'])

In [43]:
df_testii.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72158 entries, A006100 to A769066
Data columns (total 43 columns):
age_upon_outcome              72158 non-null object
animal_id_outcome             72158 non-null object
date_of_birth                 72158 non-null object
outcome_subtype               29632 non-null object
outcome_type                  72158 non-null object
sex_upon_outcome              72157 non-null object
age_upon_outcome_(days)       72158 non-null int64
age_upon_outcome_(years)      72158 non-null float64
age_upon_outcome_age_group    72158 non-null object
outcome_datetime              72158 non-null object
outcome_month                 72158 non-null int64
outcome_year                  72158 non-null int64
outcome_monthyear             72158 non-null object
outcome_weekday               72158 non-null object
outcome_hour                  72158 non-null int64
outcome_number                72158 non-null float64
dob_year                      72158 non-null int64
dob_month                     72158 non-null int64
dob_monthyear                 72158 non-null object
age_upon_intake               72158 non-null object
animal_type                   72158 non-null object
breed                         72158 non-null object
color                         72158 non-null object
found_location                72158 non-null object
intake_condition              72158 non-null object
intake_type                   72158 non-null object
sex_upon_intake               72157 non-null object
count                         72158 non-null int64
age_upon_intake_(days)        72158 non-null int64
age_upon_intake_(years)       72158 non-null float64
age_upon_intake_age_group     72158 non-null object
intake_datetime               72158 non-null object
intake_month                  72158 non-null int64
intake_year                   72158 non-null int64
intake_monthyear              72158 non-null object
intake_weekday                72158 non-null object
intake_hour                   72158 non-null int64
intake_number                 72158 non-null float64
time_in_shelter               72158 non-null object
time_in_shelter_days          72158 non-null float64
name                          53351 non-null object
breed_in                      72158 non-null object
unique_id                     72158 non-null object
dtypes: float64(5), int64(11), object(27)
memory usage: 24.2+ MB

In [44]:
df_testii.intake_number.value_counts()

1.0     64523
2.0      6018
3.0      1146
4.0       300
5.0        99
6.0        39
7.0        15
8.0         7
9.0         3
11.0        3
10.0        3
13.0        1
12.0        1
Name: intake_number, dtype: int64

In [46]:
df_testii.outcome_type.value_counts()

Adoption           33583
Transfer           23791
Return to Owner    14784
Name: outcome_type, dtype: int64

In [47]:
df_testii.head(30)

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days,name,breed_in,unique_id
A006100,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194,Scamp,Spinone Italiano Mix,A0061001.0
A006100,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722,Scamp,Spinone Italiano Mix,A0061002.0
A006100,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889,Scamp,Spinone Italiano Mix,A0061003.0
A047759,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139,Oreo,Dachshund,A0477591.0
A134067,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444,Bandit,Shetland Sheepdog,A1340671.0
A141142,15 years,A141142,1998-06-01 00:00:00,NaN,Return to Owner,Spayed Female,5475,15.0,"(12.5, 15.0]",2013-11-17 11:40:00,...,2013,2013-11,Saturday,14,1.0,0 days 20:54:00.000000000,0.870833,Bettie,Labrador Retriever/Pit Bull,A1411421.0
A163459,15 years,A163459,1999-10-19 00:00:00,NaN,Return to Owner,Intact Female,5475,15.0,"(12.5, 15.0]",2014-11-14 19:28:00,...,2014,2014-11,Friday,15,1.0,0 days 04:17:00.000000000,0.178472,Sasha,Miniature Schnauzer Mix,A1634591.0
A165752,15 years,A165752,1999-08-18 00:00:00,NaN,Return to Owner,Neutered Male,5475,15.0,"(12.5, 15.0]",2014-09-15 16:35:00,...,2014,2014-09,Monday,11,1.0,0 days 05:07:00.000000000,0.213194,Pep,Lhasa Apso Mix,A1657521.0
A178569,15 years,A178569,1999-03-17 00:00:00,NaN,Return to Owner,Neutered Male,5475,15.0,"(12.5, 15.0]",2014-03-23 15:57:00,...,2014,2014-03,Monday,9,1.0,6 days 06:12:00.000000000,6.258333,Boti,Shetland Sheepdog Mix,A1785691.0
A189592,18 years,A189592,1997-08-01 00:00:00,NaN,Return to Owner,Spayed Female,6570,18.0,"(17.5, 20.0]",2015-09-18 19:04:00,...,2015,2015-09,Friday,17,1.0,0 days 01:18:00.000000000,0.054167,Ophelia,Shetland Sheepdog Mix,A1895921.0
A191351,16 years,A191351,1999-08-21 00:00:00,NaN,Return to Owner,Intact Female,5840,16.0,"(15.0, 17.5]",2015-11-17 13:29:00,...,2015,2015-11,Friday,15,1.0,3 days 21:32:00.000000000,3.897222,Bri-Bri,Domestic Longhair Mix,A1913511.0
A197810,14 years,A197810,2000-01-21 00:00:00,Partner,Transfer,Spayed Female,5110,14.0,"(12.5, 15.0]",2014-12-22 15:23:00,...,2014,2014-12,Monday,12,1.0,14 days 02:53:00.000000000,14.120139,Sassafrass,American Shorthair Mix,A1978101.0
A200922,16 years,A200922,1997-10-03 00:00:00,Foster,Adoption,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-22 09:44:00,...,2013,2013-10,Thursday,15,1.0,49 days 17:57:00.000000000,49.747917,Carlos,Dachshund Mix,A2009221.0
A210457,17 years,A210457,1999-06-01 00:00:00,Foster,Adoption,Neutered Male,6205,17.0,"(15.0, 17.5]",2016-10-07 12:34:00,...,2016,2016-09,Wednesday,12,1.0,9 days 00:29:00.000000000,9.020139,Caleb,Chihuahua Shorthair,A2104571.0
A212672,13 years,A212672,2000-03-05 00:00:00,NaN,Return to Owner,Intact Female,4745,13.0,"(12.5, 15.0]",2013-12-06 14:34:00,...,2013,2013-11,Monday,17,1.0,10 days 21:16:00.000000000,10.886111,Cujo,German Shepherd/Labrador Retriever,A2126721.0
A215368,13 years,A215368,2001-01-17 00:00:00,NaN,Return to Owner,Neutered Male,4745,13.0,"(12.5, 15.0]",2014-08-04 16:31:00,...,2014,2014-08,Monday,13,1.0,0 days 02:40:00.000000000,0.111111,Guiness,Newfoundland Mix,A2153681.0
A221448,12 years,A221448,2000-11-29 00:00:00,NaN,Return to Owner,Neutered Male,4380,12.0,"(10.0, 12.5]",2013-10-28 12:37:00,...,2013,2013-10,Sunday,11,1.0,1 days 01:20:00.000000000,1.055556,Tucker,Labrador Retriever Mix,A2214481.0
A226069,15 years,A226069,2000-06-17 00:00:00,Foster,Adoption,Neutered Male,5475,15.0,"(12.5, 15.0]",2015-10-29 15:00:00,...,2015,2015-10,Tuesday,12,1.0,23 days 02:31:00.000000000,23.104861,Cedar,Labrador Retriever/Beagle,A2260691.0
A228887,12 years,A228887,2001-04-27 00:00:00,NaN,Return to Owner,Spayed Female,4380,12.0,"(10.0, 12.5]",2013-11-09 17:42:00,...,2013,2013-11,Saturday,17,1.0,0 days 00:42:00.000000000,0.029167,Lucy,Catahoula/Labrador Retriever,A2288871.0
A233812,13 years,A233812,2001-06-08 00:00:00,NaN,Return to Owner,Neutered Male,4745,13.0,"(12.5, 15.0]",2014-09-06 18:52:00,...,2014,2014-09,Saturday,14,1.0,0 days 04:15:00.000000000,0.177083,Bandit,Rottweiler/Chow Chow,A2338121.0
A234161,12 years,A234161,2001-03-26 00:00:00,NaN,Return to Owner,Neutered Male,4380,12.0,"(10.0, 12.5]",2013-12-27 17:02:00,...,2013,2013-12,Friday,12,1.0,0 days 04:49:00.000000000,0.200694,Midnight,Domestic Shorthair Mix,A2341611.0
A236259,13 years,A236259,2001-07-10 00:00:00,NaN,Return to Owner,Neutered Male,4745,13.0,"(12.5, 15.0]",2014-07-09 12:00:00,...,2014,2014-07,Saturday,7,1.0,4 days 04:47:00.000000000,4.199306,Captain,Smooth Fox Terrier Mix,A2362591.0
A238870,15 years,A238870,2001-05-24 00:00:00,Partner,Transfer,Neutered Male,5475,15.0,"(12.5, 15.0]",2016-06-17 12:37:00,...,2016,2016-06,Thursday,16,1.0,7 days 20:15:00.000000000,7.843750,Jam,Rat Terrier Mix,A2388701.0
A243903,13 years,A243903,2000-07-12 00:00:00,NaN,Return to Owner,Neutered Male,4745,13.0,"(12.5, 15.0]",2014-01-05 11:45:00,...,2013,2013-12,Tuesday,16,1.0,4 days 19:19:00.000000000,4.804861,Budgie,Domestic Shorthair,A2439031.0
A245945,15 years,A245945,2000-05-23 00:00:00,Partner,Transfer,Neutered Male,5475,15.0,"(12.5, 15.0]",2015-05-25 11:49:00,...,2015,2015-05,Wednesday,22,1.0,4 days 13:15:00.000000000,4.552083,Boomer,Labrador Retriever Mix,A2459451.0
A245945,14 years,A245945,2000-05-23 00:00:00,NaN,Return to Owner,Neutered Male,5110,14.0,"(12.5, 15.0]",2014-07-04 15:26:00,...,2014,2014-07,Thursday,17,2.0,0 days 21:31:00.000000000,0.896528,Boomer,Labrador Retriever Mix,A2459452.0
A249087,15 years,A249087,2001-01-02 00:00:00,Foster,Adoption,Spayed Female,5475,15.0,"(12.5, 15.0]",2016-11-15 10:37:00,...,2016,2016-08,Wednesday,14,1.0,89 days 20:32:00.000000000,89.855556,*Polly,German Shepherd Mix,A2490871.0
A251214,12 years,A251214,2001-10-27 00:00:00,NaN,Return to Owner,Neutered Male,4380,12.0,"(10.0, 12.5]",2014-09-04 16:12:00,...,2014,2014-09,Thursday,15,1.0,0 days 00:56:00.000000000,0.038889,Rex,German Shepherd Mix,A2512141.0
A251268,17 years,A251268,2000-11-28 00:00:00,NaN,Return to Owner,Neutered Male,6205,17.0,"(15.0, 17.5]",2018-01-29 16:07:00,...,2018,2018-01,Saturday,15,1.0,2 days 01:01:00.000000000,2.042361,Sully,Domestic Shorthair Mix,A2512681.0
A251402,18 years,A251402,1999-01-25 00:00:00,NaN,Return to Owner,Spayed Female,6570,18.0,"(17.5, 20.0]",2017-10-23 11:32:00,...,2017,2017-10,Sunday,18,1.0,0 days 16:51:00.000000000,0.702083,Amy,Chihuahua Shorthair Mix,A2514021.0

In [56]:
testdf = pd.get_dummies(df['intake_weekday'], drop_first = True)

In [57]:
testdf.head()

         Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
A006100       0       0         0       0         1        0          0
A006100       0       0         0       0         1        0          0
A006100       0       0         0       0         1        0          0
A006100       1       0         0       0         0        0          0
A006100       1       0         0       0         0        0          0