## Final Project Submission

Please fill out:
* Student name: Thomas Brown
* Student pace: Full Time
* Scheduled project review date/time: TBD
* Instructor name: 
* Blog post URL:

## Description and Use-Case:

# Importing Libraries:

In [1]:
import pandas as pd

# Importing Data:

Cover Type Info:
- 1: Spruce/Fir
- 2: Lodgepole Pine
- 3: Ponderosa Pine
- 4: Cottonwood/Willow
- 5: Aspen
- 6: Douglas-fir
- 7: Krummholz

In [5]:
df = pd.read_csv('cat_outcome.csv.zip')
display(df.head())
df.info()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,...,outcome_weekday,outcome_hour,breed1,breed2,cfa_breed,domestic_breed,coat_pattern,color1,color2,coat
0,2 weeks,A684346,Cat,domestic shorthair,orange,2014-07-07 00:00:00,2014-07-22 16:04:00,2014-07-22T16:04:00,NaN,Partner,...,Tuesday,16,domestic shorthair,NaN,False,True,tabby,orange,NaN,orange
1,1 month,A685067,Cat,domestic shorthair,blue /white,2014-06-16 00:00:00,2014-08-14 18:45:00,2014-08-14T18:45:00,Lucy,NaN,...,Thursday,18,domestic shorthair,NaN,False,True,tabby,blue,white,blue
2,3 months,A678580,Cat,domestic shorthair,white/black,2014-03-26 00:00:00,2014-06-29 17:45:00,2014-06-29T17:45:00,*Frida,Offsite,...,Sunday,17,domestic shorthair,NaN,False,True,NaN,white,black,white
3,1 year,A675405,Cat,domestic mediumhair,black/white,2013-03-27 00:00:00,2014-03-28 14:55:00,2014-03-28T14:55:00,Stella Luna,NaN,...,Friday,14,domestic mediumhair,NaN,False,True,NaN,black,white,black
4,3 weeks,A670420,Cat,domestic shorthair,black/white,2013-12-16 00:00:00,2014-01-09 19:29:00,2014-01-09T19:29:00,NaN,Partner,...,Thursday,19,domestic shorthair,NaN,False,True,NaN,black,white,black

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29421 entries, 0 to 29420
Data columns (total 37 columns):
age_upon_outcome        29421 non-null object
animal_id               29421 non-null object
animal_type             29421 non-null object
breed                   29421 non-null object
color                   25795 non-null object
date_of_birth           29421 non-null object
datetime                29421 non-null object
monthyear               29421 non-null object
name                    16647 non-null object
outcome_subtype         18641 non-null object
outcome_type            29418 non-null object
sex_upon_outcome        29421 non-null object
count                   29421 non-null int64
sex                     29421 non-null object
Spay/Neuter             29421 non-null object
Periods                 29421 non-null int64
Period Range            29421 non-null int64
outcome_age_(days)      29421 non-null int64
outcome_age_(years)     29421 non-null float64
Cat/Kitten (outcome)    29421 non-null object
sex_age_outcome         29421 non-null object
age_group               29421 non-null object
dob_year                29421 non-null int64
dob_month               29421 non-null int64
dob_monthyear           29421 non-null object
outcome_month           29421 non-null int64
outcome_year            29421 non-null int64
outcome_weekday         29421 non-null object
outcome_hour            29421 non-null int64
breed1                  29421 non-null object
breed2                  52 non-null object
cfa_breed               29421 non-null bool
domestic_breed          29421 non-null bool
coat_pattern            19155 non-null object
color1                  29421 non-null object
color2                  10354 non-null object
coat                    29421 non-null object
dtypes: bool(2), float64(1), int64(9), object(25)
memory usage: 7.9+ MB

# Cleaning Data:

Luckily, it appears that little to no cleaning needs to be done in this case.

# EDA:

# Feature Engineering:

# Train Test Split:

# Baseline Model:

# Improved Models:

## K-Nearest-Neighbors:

## Decision Tree:

## Random Forest:

# Model Comparisons:

## ROC Curves:

## Confusion Matrix:

## F1 vs Accuracy vs Recall etc. . .

# Conclusion: