## Final Project Submission

Please fill out:
* Student name: Thomas Brown
* Student pace: Full Time
* Scheduled project review date/time: TBD
* Instructor name: 
* Blog post URL:

## Description and Use-Case:

The purpose of this project is to examine data from one of Austin's largest animal shelters and build a machine learning model to predict outcomes of cats as they come in and are processed in the system.  An efficient and intelligent model can help "manage the inventory" of the shelter and get cats adopted more quickly and thus less likely to be euthanized.  <br><br>
The outcomes are listed below:
- Transfer           
- Adoption           
- Euthanasia        
- Return to Owner     
- Died                 
- Rto-Adopt
- Missing
- Disposal  <br>

We'll explore these outcomes (as well as the sub categories) in the EDA phase, but with an effective model, we can return missing cats to owners more efficiently, get cats likely to be adopted adopted more quickly and cats likely to go missing under more strict supervision!

# Importing Libraries:

In [1]:
import pandas as pd

# Importing Data:

In [2]:
df = pd.read_csv('cat_outcome.csv.zip')
display(df.head())
df.info()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,...,outcome_weekday,outcome_hour,breed1,breed2,cfa_breed,domestic_breed,coat_pattern,color1,color2,coat
0,2 weeks,A684346,Cat,domestic shorthair,orange,2014-07-07 00:00:00,2014-07-22 16:04:00,2014-07-22T16:04:00,NaN,Partner,...,Tuesday,16,domestic shorthair,NaN,False,True,tabby,orange,NaN,orange
1,1 month,A685067,Cat,domestic shorthair,blue /white,2014-06-16 00:00:00,2014-08-14 18:45:00,2014-08-14T18:45:00,Lucy,NaN,...,Thursday,18,domestic shorthair,NaN,False,True,tabby,blue,white,blue
2,3 months,A678580,Cat,domestic shorthair,white/black,2014-03-26 00:00:00,2014-06-29 17:45:00,2014-06-29T17:45:00,*Frida,Offsite,...,Sunday,17,domestic shorthair,NaN,False,True,NaN,white,black,white
3,1 year,A675405,Cat,domestic mediumhair,black/white,2013-03-27 00:00:00,2014-03-28 14:55:00,2014-03-28T14:55:00,Stella Luna,NaN,...,Friday,14,domestic mediumhair,NaN,False,True,NaN,black,white,black
4,3 weeks,A670420,Cat,domestic shorthair,black/white,2013-12-16 00:00:00,2014-01-09 19:29:00,2014-01-09T19:29:00,NaN,Partner,...,Thursday,19,domestic shorthair,NaN,False,True,NaN,black,white,black

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29421 entries, 0 to 29420
Data columns (total 37 columns):
age_upon_outcome        29421 non-null object
animal_id               29421 non-null object
animal_type             29421 non-null object
breed                   29421 non-null object
color                   25795 non-null object
date_of_birth           29421 non-null object
datetime                29421 non-null object
monthyear               29421 non-null object
name                    16647 non-null object
outcome_subtype         18641 non-null object
outcome_type            29418 non-null object
sex_upon_outcome        29421 non-null object
count                   29421 non-null int64
sex                     29421 non-null object
Spay/Neuter             29421 non-null object
Periods                 29421 non-null int64
Period Range            29421 non-null int64
outcome_age_(days)      29421 non-null int64
outcome_age_(years)     29421 non-null float64
Cat/Kitten (outcome)    29421 non-null object
sex_age_outcome         29421 non-null object
age_group               29421 non-null object
dob_year                29421 non-null int64
dob_month               29421 non-null int64
dob_monthyear           29421 non-null object
outcome_month           29421 non-null int64
outcome_year            29421 non-null int64
outcome_weekday         29421 non-null object
outcome_hour            29421 non-null int64
breed1                  29421 non-null object
breed2                  52 non-null object
cfa_breed               29421 non-null bool
domestic_breed          29421 non-null bool
coat_pattern            19155 non-null object
color1                  29421 non-null object
color2                  10354 non-null object
coat                    29421 non-null object
dtypes: bool(2), float64(1), int64(9), object(25)
memory usage: 7.9+ MB

In [4]:
df.outcome_type.value_counts()

Transfer           13323
Adoption           12732
Euthanasia          1452
Return to Owner     1431
Died                 403
Rto-Adopt             33
Missing               28
Disposal              16
Name: outcome_type, dtype: int64

In [5]:
df.outcome_subtype.value_counts()

Partner           9486
Foster            3357
SCRP              3211
Suffering         1303
Snr                625
In Kennel          215
In Foster          152
Offsite            110
Rabies Risk         61
Medical             56
At Vet              33
Enroute             15
In Surgery           8
Aggressive           4
Possible Theft       2
Barn                 2
Underage             1
Name: outcome_subtype, dtype: int64

# Cleaning Data:

In [8]:
df.isna().sum()

age_upon_outcome            0
animal_id                   0
animal_type                 0
breed                       0
color                    3626
date_of_birth               0
datetime                    0
monthyear                   0
name                    12774
outcome_subtype         10780
outcome_type                3
sex_upon_outcome            0
count                       0
sex                         0
Spay/Neuter                 0
Periods                     0
Period Range                0
outcome_age_(days)          0
outcome_age_(years)         0
Cat/Kitten (outcome)        0
sex_age_outcome             0
age_group                   0
dob_year                    0
dob_month                   0
dob_monthyear               0
outcome_month               0
outcome_year                0
outcome_weekday             0
outcome_hour                0
breed1                      0
breed2                  29369
cfa_breed                   0
domestic_breed              0
coat_pattern            10266
color1                      0
color2                  19067
coat                        0
dtype: int64

## Color:

3.5 thousand missing values.  For this one, I'll likely map onto probabilities.  Maybe at some point I'll drop the nulls and see if I get better results with the ML model.

In [10]:
df.color.nunique()

154

We'll need to do some grouping as well. . . Probably in a separate excel sheet, and then match the values after.  154 values are too many. . .

## Name:

In [12]:
df.name.isna().sum()

12774

I think the simplest option here is has name or does not have name.  I would also be interested about less common or longer names.  Perhaps that indicates more involved owners.  Who knows!

## Outcome Subtype:

10 thousand missing values here.  This is an additional classification problem after the first.  We can worry about this later.

## Outcome Type:

I'll just drop these.

## Breed 2:

Probably not useful for this application.

## Coat Pattern:

I think a probability map will be useful here as well.

In [14]:
df.coat_pattern.value_counts()

tabby       13613
tortie       1547
calico       1494
point        1297
torbie       1035
smoke         156
agouti          6
brindle         4
tricolor        3
Name: coat_pattern, dtype: int64

## Color 2:

I'll likely just use color1 for this model:

# EDA:

## Different Outcome Types:

## Variables Compared Against Outcomes:

# Feature Engineering:

## Multicollinearity:

## Scaling:

## Log Transformations:

## One-Hot-Encoding:

# Train Test Split:

In [ ]:
# Putting the final DF back together:

# Importing train test split:

# Splitting the data.  Test size 20%.  Random_state 12

# Baseline Model:

# Improved Models:

## K-Nearest-Neighbors:

## Decision Tree:

In [19]:
# Print tree with max depth set to none for funsies

## Random Forest:

In [18]:
# Get feature importance bar chart

## XG Boost:

## SVM:

# Model Comparisons:

## ROC Curves:

## Confusion Matrix:

## F1 vs Accuracy vs Recall etc. . .

# Conclusion: